{% extends 'base.html' %}

{% load staticfiles %}

{% block css_libs%}
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block left_block %}

<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Stubborn mules</h3>
	</div>
</div>
    {% for mule in mules %}
    <div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">{{ mule }}</h3>
		</div>	 
		<div class="panel-body">
		</div>
	</div>
    {% endfor %}
</div>
{% endblock %}

{% block main_block %}
		<div class="button_block">

            <a href="{% url 'auth_login' %}">
                <p><button class="btn btn-primary btn-block" type="submit" name="submit">Log in</button></p>
            </a>
            <a href="{% url 'registration_register' %}">
                <p><button class="btn btn-warning btn-block" type="submit" name="submit">Register</button></p>
            </a>
            <a href="{% url 'mazePicker' %}">
                <p><button class="btn btn-danger btn-block" type="submit" name="submit">Continue as guest </button></p>
            </a>
		</div>
{% endblock %}


{% block right_block %}
<div class="panel panel-default">
	<div class="panel-heading"><h3 class="panel-title">Curiosity cats</h3>
	</div>
</div>
    {% for cat in cats %}
	<div class="panel panel-default">
		<div class="panel-heading"><h3 class="panel-title">{{ cat }}</h3>
		 </div>
		<div class="panel-body">
		<!--<p>mazes solved:{{ cat.mazes_solved }}</p>
		<p>mules annoyed:{{ cat.mazes_created }}</p>-->
		</div>
	 </div>
    {% endfor %}
</div>
{% endblock %}


