{% extends 'base.html' %}

{% load staticfiles %}

{% block css_libs%}
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
{% endblock %}

{% block left_block %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Stubborn mules</h3>
    </div>

    </div>
        {% for mule in mules %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ mule }}</h3>
            </div>
            <div class="panel-body">
                <p>mazes created:{{ mule.mazes_created }}</p>
                <!--<p>mules annoyed:{{ mule.mazes_created }}</p>-->
            </div>
        </div>
        {% endfor %}
{% endblock %}

{% block main_block %}
        {% if user.is_authenticated %}
            <h6>Hello, {{ user.username }}<h6>
        {% endif %}
            <h1> Mazes created: {{ mazes_num }} out of these still unsolved: {{ unsolved_mazes }}</h1>
		<div class="button_block">

            {% if user.is_authenticated %}
                <a href="{% url 'mazePicker' %}">
                    <p><span class="btn btn-primary btn-block">Solve</span></p>
                </a>

                <a href="{% url 'createMaze' %}">
                    <p><span class="btn btn-danger btn-block">Create</span></p>
                </a>

            {% else %}
                <a href="{% url 'auth_login' %}">
                    <p><span class="btn btn-primary btn-block">Log in</span></p>
                </a>
                <a href="{% url 'registration_register' %}">
                    <p><span class="btn btn-warning btn-block">Register</span></p>
                </a>
                <a href="{% url 'mazePicker' %}">
                    <p><span class="btn btn-danger btn-block">Continue as guest</span></p>
                </a>
            {% endif %}
		</div>
{% endblock %}


{% block right_block %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Curiosity cats</h3>
    </div>

    </div>
        {% for cat in cats %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">{{ cat }}</h3>
             </div>
            <div class="panel-body">
                <p>mules annoyed:{{ cat.mazes_solved }}</p>
                <!--<p>mules annoyed:{{ cat.mazes_created }}</p>-->
            </div>
         </div>
        {% endfor %}
{% endblock %}


