{% extends 'base.html' %}

{% load staticfiles %}

{% block block_title %}- solving maze - {{ maze_name }} {% endblock %}

{% block css_libs %}
    <link href="{% static 'css/grid.css' %}" rel="stylesheet">
{% endblock%}


{% block main_block %}

    <p> {{ maze_name }} </p>
    <rows id="rows" value="{{ maze_rows }}"></rows>
    <cols id="cols" value="{{ maze_cols }}"></cols>
    <cells id="cells" value="{{ maze_cells }}"></cells>

{% endblock %}


{% block js_libs %}
    <script src="{% static 'javascript/solve-maze.js' %}" type="text/javascript"></script>
{% endblock %}
