{% extends 'base.html' %}

{% load staticfiles %}
{% block block_title %}- solving maze - {{ maze_name }} {% endblock %}

{% block css_libs %}
    <link href="{% static 'css/grid.css' %}" rel="stylesheet">
{% endblock%}


{% block main_block %}
    <div class="button_block">
        <h2>You are currently solving {{ maze_name }}</h2>
        {% if maze_solved %}
            <h3>{{ maze_name }} was solved already</h3>
        {% else %}
            <h2>Be the first to solve it!</h2>
        {% endif %}
        {% if maze_attempts != 0 %}
            <h3>{{ maze_name }} was attempted {{ maze_attempts }} time(s)</h3>
        {% endif %}
    </div>
    <rows id="rows" value="{{ maze_rows }}"></rows>
    <cols id="cols" value="{{ maze_cols }}"></cols>
    <cells id="cells" value="{{ maze_cells }}"></cells>

<form id="checkMaze" role="form" method="post" action=".">
        {% csrf_token %}
</form>
<p>

<strong id="like_count">{{  maze.likes }}</strong> people like this maze

{% if user.is_authenticated %}
        <button id="likes" data-mazename="{{maze.name}}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Like
        </button>
{% endif %}

</p>
{% endblock %}

{% block js_libs %}
    <script src="{% static 'javascript/solve-maze.js' %}" type="text/javascript"></script>
{% endblock %}
