{% extends 'base.html' %}

{% block left_block %}
			<p>Stubborn mules</p>
              {% if users %}
                    <ul class="list-group">
                        {% for mule in mules %}
                        <p>{{ mule.name }}</p>
						<p>mazes created:{{ mule.mazes_created }}</p>
						<p>unsolved:{{ mule.mazes_solved }}</p>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no users.</strong>
                {% endif %}
{% endblock %}

{% block main_block %}

		<p><button href="{% url 'auth_login' %}" class="btn btn-primary custom btn-lg" type="submit">Log in</button>
		<p><button href="{% url 'registration_register' %}" class="btn btn-warning custom btn-lg" type="submit">Register</button>
		<p><button href="{% url 'mazes' %}" class="btn btn-danger custom btn-lg" type="submit" name="submit">Continue as guest </button>
		
{% endblock %}


{% block right_block %}

			<p>Curiosity cats</p>
              {% if users %}
                    <ul class="list-group">
                        {% for cat in cats %}
                        <p>{{ cat.name }}</p>
						<p>mazes solved:{{ cat.mazes_solved }}</p>
						<p>mules annoyed:{{ cat.mazes_created }}</p>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no users.</strong>
                {% endif %}
{% endblock %}


