{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}{% endblock %}

{% block main_block %}
        {% block css_libs %} {% endblock %}
<form id="profile_form" method="post" action="{% url 'profile' %}" enctype="multipart/form-data"> {% csrf_token %} <br/>

    <div class="container">
        <h1>Edit Profile</h1>
        {{ profile_form.as_p }}
        <div class="row">
            <div class="col-md-5"><img class="img-responsive" src="static/media/{{picture}}" alt="profile_picture"/></div>
            <div class="col-md-5"><a href="{% url 'password_change'%}" class="btn btn-warning custom btn-lg" > Change Password</a></div>
        </div>
        <br/>
        {{ user_form.as_p }}

        <input type="submit" name="submit" value="Edit"/></div>
</form>
    <div class="stats"> asdf </div>
{% endblock %}